.screenReaderText {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

html{
    background: rgb(13,12,12);
    background: linear-gradient(174deg, rgb(34, 31, 31) 0%, rgba(47,46,46,1) 65%, rgba(0,72,87,1) 100%) fixed;
    color: #ffffff;
    }

body{
    padding-top: 90px;
    margin-left: 0px;
}
.navBar{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(0, 72, 87, 0.9);
    text-align: center;
}

.navBar > li {
      display: inline-block;
      text-align: center;
 
  }

.navBar > li a{
    color: #ffffff;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    display: inline-block;

}

li a:hover{
    background-color: #111;
}
.myLinks li a:hover{
    background-color: transparent;
}

.navLogo{
    float: left;
    max-width: 64px;
    max-height: 64px;
    padding-top: 10px;
}
.active{
    padding: 12px 12px;
    background: #111;
}

img{
    max-width: 80%;
}

.center, .additional1, .additional2, .project1, .project2, .project3, .mainBodyContent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}
.additional1, .additional2, .project2, .project3, footer{
    margin-top: 50px;
}

.project1, .project2, .project3{
    padding-bottom: 10px;
}

.content{
    padding-top: 15px;
}
.mainBodyContent{
    margin-bottom: 20px;
    margin-top: 10px;
}

.myLinks > li{
    display: inline;  
}

li img{
    max-width: 48px;
    max-height: 48px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
h3:nth-of-type(7){
    margin-top: 0px;
}
.formWrapper {
    text-align: center;
    padding: 15px;

}
.formWrapper h2{
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.formWrapper .inputField{
    margin-bottom: 10px;
}

.formWrapper .inputField input[type="text"], .formWrapper textarea{
    border: 1px solid #e0e0e0;
    width: 90%;
    padding: 5px;
}

.formWrapper textarea{
    resize: none;
    height: 150px;
}

.formWrapper .btn input{
    border: 0px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    cursor: pointer;
}

#displayError{
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    font-size: 14px;
    transition: all 0.5s ease;
    display: inline-block;
  }

.resumeMargin{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.linksDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center{
    margin-top: 9px;
}

.aboutMe, .skills, .education, .objective{
    margin-top: 50px;
}
.indexMainDiv p img{
    margin-top: 10px;
}

.homepageIcons{
    max-width: 96px;
    max-height: 96px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* TABLET */
@media screen and (min-width: 600px){
.projects, .educationDivContainer, .skillsDiv, .skillsDiv2{
    display: flex;
    flex-direction: row;
}
.add1Div, .job1{
    order: 1;
}
.add2Div, .job2{
    order: 2;
}
.objectiveDiv, .educationDivContainer{
    margin-bottom: 40px;
}
.skillsDiv, .skillsDiv2{
    justify-content: center;
    
}
.indexPersonalDiv{
    display: flex;
    flex-direction: column;
}

/* DESKTOP */
@media screen and (min-width: 1024px){

.skillsDivDesktop{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

span{
    text-decoration: underline;
}
.aboutMe{
    margin-top: 100px;
}
.educationDivContainer{
    display: flex;
    justify-content: space-evenly;
}

.job1, .job2, .job3, .job4, .job5, .job6{
    margin-bottom: 80px;
}
footer.center{
    margin-top: 75px;
}
#ind-per-div{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }
}

.dashedBorder{
    border-bottom-style: inset;
    border-bottom-width: 2px;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.indexMainDiv p img{
    max-width: 60%;
}
}